body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1d4350, #a43931);
    color: white;
    text-align: center;
}

.container {
    width: 50%;
    margin: 80px auto;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    border-radius: 15px;
}

h1 {
    font-size: 32px;
}

input[type="file"] {
    margin: 20px 0;
}

button {
    background: #00c6ff;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #0072ff;
}

.result img {
    margin-top: 20px;
    width: 300px;
    border-radius: 10px;
    border: 3px solid white;
}
